
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}
               /* Aquí comienza el codigo del "Inicio" */
li,a {
    font-weight: 500;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
} 

body{
    background-color: darkkhaki;
}

main{
    background-color: #081b29;
}

.inicio{
    padding: 30px;
    margin: 0;
    text-align: center; 
    color: rgb(255, 255, 255);
    background: #081b29;
}

.inicio h2{
    display: inline-block;
    position: relative;
    font-size: 5rem;
    /*border: 3px #ffffff solid;
    border-radius: 2px;*/
    padding: 15px;
    
}

.titulo{
    text-align: center;
    padding: 0 125px;
    color: #081b29;
}

header{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 30px 10%;
    background-color: #081b29;
}

.logo{
    cursor: pointer;
    position: initial;
}

.navbar{
    list-style: none;
   /* color: #451952;*/
    font-weight: 500;
    
}

.navbar li{
    display: inline-block;
    padding: 9px 25px;
   
}

.navbar li a{
    transition: all 0.3s ease 0s;
}

.navbar li a:hover{
    color:#ffffff ;
}

button{
    padding: 9px 25px;
    background-color: white(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #989b03;
}

                /*Cuerpo de Incio*/
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
}

              /*Inicio*/

.inicio-bienvenida{
    background-image: url(./fotos/fondo-de\ -inicio.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 50px; 
}

.inicio-bienvenida .presentacion{
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 180px;
}

.inicio-bienvenida .presentacion h1{
    font-size: 5rem;
    color: #ffffff;
}


.bienvenida{
    padding: 10px;
    margin: 0;
    text-align: center; 
    color: rgb(255, 255, 255);
    background: #081b29;
}          

.bienvenida h2{   
    display: inline-block;
    position: relative;
    font-size: 5rem;
}

.mensaje-bienvenida{
    display: inline-block;
    margin: 10px;
    padding: 20px;
    font-size: 1.5rem;
}

.mensaje-bienvenida h3{
    color: #ffffff;
}

.patrocinadores-titulo{
    padding: 10px;
    margin: 0;
    text-align: center; 
    color: rgb(255, 255, 255);
    background: #081b29;

}


.patrocinadores-titulo h2{
    display: inline-block;
    position: relative;
    font-size: 5rem;
}

.patrocinadores{
    display: grid;
    grid-template-columns: repeat(3, minmax(500px, auto));
    gap: 1rem;
    /*margin-top: 2rem;*/
    background-color: #081b29;;
}

.patrocinadores-logo{
    display: inline-block;
    position: relative;
    align-items: center;

}



.novedades h2{
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
}



.producto{
    align-items: center;
}

.bicis-fotos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: auto;
}

.bicis{
    background-color: #000000;
    padding: 5px;
    margin:  10px 10px ;   
    width: 410px;
    height: 310px;	 
}

.producto-titulo{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 10px;
    border-radius: 50px;
}

.precio{
    font-weight: 500;
    text-align: center;
}
              /*Tabla1*/
.tabla{
    display: inline-block;
    text-align:stretch;
    background-color: #176985;
    padding: 10px;
    margin: 10px ; 
    align-content: stretch;
    border-radius: 5%;
}

.puntos{
    color: #000000;
    text-align: center;
    padding: 3px;
}



.tabla-puntos {
    border-collapse: collapse; margin: 25px 0; 
    font-size: 1em; 
    font-family: sans-serif; 
    min-width: 450px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
    

.tabla-puntos tr { 
    background-color: #961b8b; 
    color: #f0f0f0; 
    text-align: middle;

}

.tabla-puntos th, .tabla-puntos td{
    padding: 12px 15px;
}
/*Footer*/
footer{
    background-color: #DAFFFB;
}

.footer-titulos{
    text-align: center;
    color:crimson;
}

/*Aquí comienza Catalogo*/



.catalogo{
    text-align: center;
    background: #45494E;
    color: white;
    font-size: 1.5rem;
    padding: 30px;
    margin: 10px;
}

.catalogo-fotos{
    display: grid;
    grid-template-columns: repeat(3, minmax(500px, auto));/*4 columnas y 1 fracion*/
    gap: 1rem;
    /*margin-top: 2rem;*/
    background-color: #081b29;
} 



.catalogo-fotos .caja{
    margin: 10px;
    padding: 20px;
    border-radius: 1rem;
    background-color: #176985;
}

.catalogo-fotos .caja .caja-bicis{
    width: 100%;
    height: 380px;
}

.catalogo-fotos .caja .caja-bicis img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}


.catalogo-fotos .caja h3{
    margin: 19px;
    font-weight: 50;
    font-size: 30px;
    text-align: center;
    color: white;
}


.catalogo-fotos .caja h2{
    font-size: 1rem;
    font-weight: 600;   
    margin: 1px;
    text-align: center;
}

.catalogo-fotos .caja h2 span{
    font-size: 2rem;
    font-weight: 600;
    color: #000000;   
    padding: 9px 25px;
    background-color: #ffffff;
    border-radius: 50px;
    margin: 5px;
}

.catalogo-fotos .caja h2 span:hover{
    background-color: #000000;
    color:#ffffff;
}


/*Aqui comienzo seccion Comuinidad*/

.tabla-2{
    display: inline-block;
    text-align:stretch;
    background-color: #176985;
    padding: 10px;
    margin: 10px ; 
    align-content: stretch;
    border-radius: 5%;
}

.tabla-puntos-2 {
    border-collapse: collapse; margin: 25px 0; 
    font-size: 1em; 
    font-family: sans-serif; 
    min-width: 450px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
    

.tabla-puntos-2 tr { 
    background-color: #961b8b; 
    color: #f0f0f0; 
    text-align: middle;

}

.tabla-puntos th, .tabla-puntos td{
    padding: 12px 15px;
}

.videos{   
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    margin: 20px;
    padding: 10px;
    align-items: center;
}









/*Aquí comienzo a modelar la seccion Nosotros*/
.mensaje{
    text-align: center;
    background-color: #E3C143;
    margin: 5%;
    padding: 50px;
    font-size: 1.5rem;
    border-radius: 8px;
}

.descripcion{
    text-align: center;
    background-color: #E3C143;
    margin: 5%;
    padding: 100px;
    font-size: 1.5rem;
}

.comunidad{
    text-align: center;
    background-color: #E3C143;
    margin: 5%;
    padding: 50px;
    font-size: 1.5rem;
}

.cierre{
    text-align: center;
    background-color: #E3C143;
    margin: 5%;
    padding: 50px;
    font-size: 1.5rem;
}

/*Aqui comienza Contacto*/
