
.box-login{
    display: flex;
    justify-content: center;
    .login{
        display: flex;
        max-width: 900px;
        height: 500px;
        border-radius: 20px;
        background-color: $color-secundario;
        border: 10px $borde groove;
        margin: 20px;
        .informacion{ 
            margin: 0; 
            border-radius: 5%;
            width: 40%;
            .informacion-login{
                background-color:$color-secundario; 
                padding: 50px;
                text-align:center;
                h2{
                    font-size: 2rem;
                    font-weight: 500;
                    color: $color-letras;  
                }
                p{
                    font-size: 1.5rem;
                    font-weight: 400;
                    color: $color-letras;
                }
                input{
                    border: 3px $color-letras solid;
                    border-radius: 20px;
                    padding: 10px 20px;
                    background-color: $color-secundario;
                    color: $color-letras;
                    font-size: 1.5rem;
                    &:hover{
                        background-color: $color-principal;
                        transform:scale(1.05,1.05);
                    }
                }
            }
        }
        
    }
      
}

.form-information{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: $color-principal;
    padding: 30px;
    .form-information-childs{
        padding: 0 30px;
        h2{
            color: $color-letras;
            font-size: 3rem;
        }
        p{
            color: $color-letras;
            font-size: 1.5rem;
        }
        .form{
            margin: 30px 0 0 0;
            label{
                display: flex;
                align-items: center;
                margin: 10px;
                border-radius: 20px;
                padding: 0 10px;
                background-color:$color-letras ;
                input{
                    width: 100%;
                    padding: 10px;
                    border: none;
                    outline: none;
                    border-radius: 20px;
                    background-color: $color-letras;
                    .btn{
                        margin: 10px;
                        border: 3px $color-letras solid;
                        border-radius: 20px;
                        padding: 10px 20px;
                        background-color: $color-principal;
                        color: $color-letras;
                        font-size: 1.5rem;
                        &:hover{
                            background-color: $color-secundario;
                            transform:scale(1.05,1.05); 
                        }
                    }
                }
            }
        }

    }
}

.local{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);;
    margin: 40px;
    padding: 10px;
    align-items: center;
    .ubi{
        img{
            width:860px; 
            height:515px;
            border: $borde 5px groove;
            &:hover{transform:scale(1.01,1.01);}
        }
        .producto-titulo {
            text-align: center;
            color: $color-letras;
            h3{
                font-size: 3rem;
                font-weight: 500;
            }
        }
    }
}
