
header{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 30px 10%;
    background-color: $color-principal;
    .navbar-brand{
        display: flex;
        position: relative;
        justify-content: center;
        img{
        width: 50px;
        height: 50px; 
        }
    }
    .logo{
        cursor: pointer;
        position: initial;
    }
    .navbar{
        list-style: none;
        font-weight: 500;  
        background-color: $color-principal;
        li{
            display: inline-block;
            padding: 9px 25px;
            a{
                transition: all 0.3s ease 0s;
                &:hover{
                    color:$color-letras ;  
                }    
            }  
        }
    }
}

button{
    padding: 9px 25px;
    background-color: white(0,136,169,1);
    border: $color-letras 6px solid;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: $color-principal;
    color: $color-letras;
}

.navbar-toggler{
    background-color: #DAFFFB;
    border: $color-secundario solid 6px;
}

button:hover{
    background-color: $color-secundario;
    border: #DAFFFB 6px solid;
    color: $color-letras;
}
