@import "colores";
@import "header";
@import "footer";
@import "responsive";
@import "body";
@import "main";
@import "index";
@import "catalogo";
@import "comunidad";
@import "nosotros";
@import "contacto";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

